body{
    background-color: white;
}
h1{
    font-size: 70px;
    font-weight: 700;
}
img{
    position: relative;
    bottom: -10px;
    right: -700px;
}
h1,p{
    position: relative;
    top: -680px;
    left: 100px;
}